<div id="<%= dom_id comedian %>">
  <p>
    <strong>Name:</strong>
    <%= comedian.name %>
  </p>

  <p>
    <strong>Live:</strong>
    <ul>
      <% comedian.live.order(date: :asc).each do |life| %>
        <%= render partial: "comedians/life", object: life %>
      <% end %>
    </ul>
  </p>
</div>
