<div id="<%= dom_id comedian %>">
  <p>
    <strong>
      <%= link_to comedian.name, comedian %>
    </strong>
    (<%= comedian.performers.count %>)
  </p>

  <ul>
    <% comedian.live.order(date: :asc).each do |life| %>
      <%= render partial: "comedians/life", object: life %>
    <% end %>
  </ul>
</div>
