<p style="color: green"><%= notice %></p>

<h1>お笑い芸人一覧</h1>

<div id="comedians">
  <% @comedians.each do |comedian| %>
    <%= render comedian %>
  <% end %>
</div>

<%= link_to "お笑い芸人を新規作成する", new_comedian_path %>
