<h1>Editing performer</h1>

<%= render "form", performer: @performer %>

<br>

<div>
  <%= link_to "Show this performer", @performer %> |
  <%= link_to "Back to performers", performers_path %>
</div>
