<p style="color: green"><%= notice %></p>

<h1>Performers</h1>

<div id="performers">
  <% @performers.each do |performer| %>
    <%= render performer %>
    <p>
      <%= link_to "Show this performer", performer %>
    </p>
  <% end %>
</div>

<%= link_to "New performer", new_performer_path %>
