<div id="<%= dom_id live %>">
  <p>
    <strong>
      <%= link_to live.display_name, live %>
    </strong>
  </p>

  <ul>
    <% live.comedians.each do |comedian| %>
      <%= render partial: "lives/comedian", object: comedian %>
    <% end %>
  </ul>
</div>
