<div id="<%= dom_id live %>">
  <p>
    <strong>
    <%= live.display_name %>
    </strong>
  </p>

  <p>
    <strong>Comedians:</strong>
    <ul>
      <% live.comedians.each do |comedian| %>
        <%= render partial: "lives/comedian", object: comedian %>
      <% end %>
    </ul>
  </p>
</div>
